---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
    font-size: 12px;
  
    @include breakpoint($medium) {
      font-size: 14px;
    }
  
    @include breakpoint($large) {
      font-size: 16px;
    }
  
    @include breakpoint($x-large) {
      font-size: 18px;
    }
  }

.red-button {
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }

.red-button:visited {
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }